/final-assignment-ecommerce-frontend/.angular
/final-assignment-ecommerce-frontend/.vscode
/final-assignment-ecommerce-frontend/dist
/final-assignment-ecommerce-frontend/node_modules
/FinalAssignmentEcommerceBackend/.mvn
/FinalAssignmentEcommerceBackend/.settings
/FinalAssignmentEcommerceBackend/target
/FinalAssignmentEcommerceBackend/bin