.header-div{
text-align: center;
background-color: #66DEBA;
color:#F6F6F6;
}

tr:nth-child(even) {
    background-color: #EBF2D3;
}
.header-row {
    position: sticky; top: -1px;background: #A8CA42;color: white;
    text-align: center;
}
thead{
    background-color: #A8CA42;
    color: white;
    text-align: center;
}
.vertical-line {
    border-left: 2px solid #66DEBA;
    height: 420px;
 }
.table-bordered th, .table-bordered td 
{ border: 2px solid #A6B073!important }

 .fade-animation {
    animation: fadeIn 5s ;
  }
 @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@media only screen and (max-width: 767px) {
    .vertical-line{
    transform: rotate(90deg) scale(.7);
    width:inherit;     
    }
}