<p class="text">Login as</p>
<div class="teachLog">
    
    <button  type="button" class="btn btn-primary" style="margin-right: 40px;">
        <a href="teacher/viewall" style="color: white;">Teacher </a>
    </button>


    <button  type="button" class="btn btn-primary">
        <a href="/student/findResult" style="color: white;">Student </a>
    </button>
</div>
