// _theme.scss
// Custom theme definitions

// Theme: Light Theme
$light-theme: true; // Set to true for the light theme, false for dark theme

// Light Theme Colors
$background-color: #fff; // Background color
$text-color: #333; // Text color

// Light Theme Button Styles
$button-background: $primary-color; // Button background color
$button-text-color: #fff; // Button text color

// Light Theme Link Styles
$link-color: $primary-color; // Link color
$link-hover-color: darken($link-color, 10%); // Link hover color

// Light Theme Heading Styles
$heading-color: $primary-color; // Heading color
$heading-font-weight: $font-weight-bold; // Heading font weight

// Responsive Breakpoints (Align with _variables.scss)
$breakpoint-sm: #{$breakpoint-sm};
$breakpoint-md: #{$breakpoint-md};
$breakpoint-lg: #{$breakpoint-lg};
$breakpoint-xl: #{$breakpoint-xl};

// Conditional styles based on the light theme
@if $light-theme {
  body {
    background-color: $background-color;
    color: $text-color;
  }

  .button {
    background-color: $button-background;
    color: $button-text-color;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-weight: $heading-font-weight;
  }
}

// Responsive Styles (Responsive breakpoints defined in _variables.scss)
@media screen and (max-width: $breakpoint-sm) {
  // Mobile styles
  // Define styles that apply to screens smaller than or equal to the small breakpoint
  .mobile-menu {
    display: block; // Show mobile menu
  }
  .desktop-menu {
    display: none; // Hide desktop menu
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  // Tablet styles
  // Define styles that apply to screens within the small to medium breakpoints range
  .tablet-menu {
    display: block; // Show tablet menu
  }
  .mobile-menu,
  .desktop-menu {
    display: none; // Hide mobile and desktop menus
  }
}

@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  // Medium tablet styles
  // Define styles that apply to screens within the medium to large breakpoints range
  .tablet-menu {
    display: block; // Show tablet menu
  }
  .mobile-menu,
  .desktop-menu {
    display: none; // Hide mobile and desktop menus
  }
}

@media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  // Large tablet styles
  // Define styles that apply to screens within the large to extra-large breakpoints range
  .tablet-menu {
    display: block; // Show tablet menu
  }
  .mobile-menu,
  .desktop-menu {
    display: none; // Hide mobile and desktop menus
  }
}


@media screen and (min-width: $breakpoint-xl) {
  // Desktop styles
}
