/* _footer.scss */

.footer {
  background-color: #6c757d;
  color: white;
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */

  .link {
    color: white;
    text-decoration: none;
    margin: 0 8px; /* Add margin between links for spacing */
  }
}
