/* Import variables */
@import '../abstracts/variables';

/* LandingPage component styles */

/* Main container styles */
.main-container {
  display: flex;
  justify-content: center; /* Horizontally center elements */
  align-items: center; /* Vertically center elements */
  height: 100%; /* Full height of the viewport */
  width: 100%; /* Allow it to expand within the parent */
  color: #fff; /* Text color for contrast */

  .left-section,
  .right-section {
    flex: 1; /* Distribute remaining space evenly between left and right sections */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Add your other styling here as needed */
}

/* Left section styles (text fields) */
.left-section {
  padding: 2rem;

  .MuiTextField-root {
    margin: 1rem 0;
  }
}

/* Right section styles (button) */
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .MuiButton-root {
    background-color: $accent-color;
    color: #fff;
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-weight: bold;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}
