@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .btn {
        background: #4aba70;
        border: none;
        line-height: normal;
    }
    
    .btn:hover,.btn:focus {
        background: #42ae68;
    }